/* Dark yellow (logo):  #f9a33f | Complementary: #3f95f9 */
/* Light yellow (logo): #f4d771 | Complementary: #718ef4 */
/* Sunset: 		  		#fad6a5 | Complementary: #a5c9fa */
/* Sunset orange: 		#fd5e53 | Complementary: #53f2fd */

.btn-main {
  border-radius: 8px;
}

.btn-sunset-orange {
  color: #FD5E53;
}

.btn-sunset-orange:hover {
  color: #fff;
  background-color: #FD5E53;
}

.btn-dy {
  color: #f9a33f;
}

.btn-dy:hover {
  color: #fff;
  background-color: #f9a33f;
}

